body.main{ 
    background-image: url(../images/background.png) !important; 
    background-size: cover;  
} 

body.popup {
    background-color: rgba(85, 15, 15, 0.95) !important;
}

#wineAppHeader { 
    background-color: rgba(85, 15, 15, 0.95) !important;
}  

#wineAppTitle { 
    font-family: Times New Roman !important; 
} 

#wineCollection { 
    background-color: rgba(85, 15, 15, 0.95) !important;
} 

.wine-list { 
    background-color: rgba(85, 15, 15, 0.95) !important;
}

 